
.chooseus-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-transform: uppercase;
    font-size: 5rem;
    margin-top: 70px;
}


.reasons-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px;
}

.left-column, .center-image, .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.center-image img {
    max-width: 25vw;
}

.reason {
    display: flex;
    justify-content: space-around;
    background-color: rgba(209, 206, 206, 0.261);
    width: 100%;
    padding: 30px;
    margin: 20px;
    border: 1px solid rgba(175, 175, 175, 0.685);
    border-radius: 25px;
}


.icon {
    max-width: 80px;
    margin-right: 20px;
}

.reason div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reason h3 {
    font-size: 1.6rem;
    color:orange;
    text-align: center;
    margin: 7.5px 0;
}




