.home-container {
    margin: 10vh;
    height: 100%;
}

.home-container h2 {
    text-transform: uppercase;
    font-size: 7vw;
    text-align: center;
}

.coin-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.coin-display, p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.coin-display img {
    max-width: 10vw;
    margin: 20px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.coin-image {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}