.joinus-container {
    max-height: 100%;
}

h2 {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

.second-line {
    font-size: 4rem;
}

.second-line, .third-line {
    color: rgb(1, 214, 214);
}


.join-us {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.communication-img {
    display: flex;
    justify-content: center;
}

.communication-img img {
    max-width: 24vw;
    max-height: 30vh;
}

.icon-rows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-rows img {
    max-width: 80px;
    margin: 50px;
    transition: 0.5s;
    filter: invert(1);
}

.icon-rows img:hover {
    transform: scale(1.3);
}

.priv-n-terms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.priv-n-terms a {
    text-decoration: none;
    color: rgb(1, 214, 214);
    margin: 20px;
}

@media (max-width: 500px) {
    .join-us{
        flex-direction: column;
    }
    .communication-img img {
        max-width: 70vw;
    }
    .icon-rows {
        flex-direction: row;
    }
    .icon-rows img {
        max-width: 50px;
        margin: 20px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    html {
        height: 100%;
    }
    .join-us{
        flex-direction: column;
    }
    .communication-img img {
        max-width: 70vw;
    }
    .icon-rows {
        flex-direction: row;
    }
    .icon-rows img {
        max-width: 50px;
        margin: 20px;
    }
}