* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: radial-gradient(rgb(116, 2, 9),rgb(0, 37, 85));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
    background-color: rgba(38, 38, 38);
    z-index: 1;
    box-shadow: 1px 1px 8px 1px #888888;
}

nav a.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    color: white
}


nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

nav ul li a:hover, nav a.logo:hover {
    transition: 0.6s;
    color: orange;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav div.submit-buttons button {
    margin: 0 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.login-btn {
    color: blue;
    border: 1px solid blue;
}

.login-btn:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
    border: 1px solid white;
}

.sign-up-btn {
    background-color: green;
    color: white;
    border: 1px solid white;
}

.sign-up-btn:hover {
    cursor: pointer;
    background-color: rgb(3, 206, 3);
    border: 1px solid white;
}
h2, p {
    color:white;
}